hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}
.visible-msg{
    visibility: hidden;
}
.error{
    color:red !important;
}
.border-survey{
    border: 1px solid cadetblue;
    height: 50px;
}
.question {
    color: #ff8619;
}
#user-data{
    margin-top: 60px;
}
#thanks {
    margin-top: 100px;
}
#thanks h1 {
    color: #3f9ae5;
}
.question_wrapper{
    margin-top: 40px;
}
