hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}
.visible-msg{
    visibility: hidden;
}
.error{
    color:red;
}
.border-survey{
    border: 1px solid cadetblue;
    height: 50px;
}
